.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

#dropdown-basic-button {
  color: white;
  background-color: #E7B39B;
  border-color: #E7B39B;
}

div.dropdown-multicol2{
  width: 30em;
}
div.dropdown-multicol2>div.dropdown-col{
  display:inline-block;
  width: 32%;
}

.row>* {
  max-width: 50%;
}

#drop-box {
  margin-bottom: 5px;
}
